*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #DCDCDC;
}
.container{
  position: relative;
  display: grid;
}
.container span{
  font-size: 24px;
  letter-spacing: 1px;
}
.container input{
  margin-top: 20%;
  height: 50px;
  width: 100%;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 20px;
  border: none;
  outline: none;
  
  font-size: 20px;
  
}
#qrcode{
  position: relative;
  margin: 10% auto;
  align-items: center;
  justify-content: center;
}

button{
  background: #fff;
  color: #000;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 50%;
  margin-top: 10px;
  margin-left: 25%;
  border-radius:20px;
}
button:hover{
  background: #000;
  transition: all 0.8s ease-out;
  color: #fff;
}